#game-board .cell {
    width: 218.33px;
    height: 218.33px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winX{
    background: #CFEDE6 !important;
}

.winO{
    background: #F3BBD0 !important;
}

#game-board .cell:hover {
    background: #F7F7F7;
}